/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html, body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table caption, th, td {
  text-align: left;
  vertical-align: middle;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

/* #4b6ea8 */

html, body {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #686868;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  height: 30px;
  border-radius: 0 0 5px 5px;
  background-color: #4b6ea8;
}

/* Utility Classes */
.small {
  font-size: 8px;
}

.scheduler {
  height: 720px;
  width: 600px;
  margin: 60px 0;
  padding: 0 10px;
}

.times {
  width: 89px;
  text-align: right;
  border-right: solid 1px #d5d5d5;
  height: 100%;
  float: left;
}

.schedule {
  background-color: #ececec;
  width: 510px;
  height: 100%;
  float: left;
  position: relative;
}

.event {
  border: solid 1px #d5d5d5;
  background: #fff;
  position: absolute;
}

.event::before {
  content: '';
  position: absolute;
  border-left: solid 5px #4b6ea9;
  width: 0;
  top: -1px;
  left: -1px;
  bottom: -1px;
}

.hour {
  height: 60px;
  padding-right: 5px;
}

.hour time {
  display: block;
}

time small {
  font-size: 8px;
}

.minor {
  margin-top: 16.5px;
}


