/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html, body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table caption, th, td {
  text-align: left;
  vertical-align: middle;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

html, body {
  font-family: 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  font-size: 10px;
  color: #686868;
}

/* Utility Classes */
.small {
  font-size: 8px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

/* Layout styles */
.container {
  width: 960px;
  margin: 0 auto;
}

header {
  height: 30px;
  border-radius: 0 0 5px 5px;
  background-color: #4b6ea8;
}

.logo {
  padding: 5px 10px;
}

.scheduler {
  height: 720px;
  width: 600px;
  margin: 60px 0;
  padding: 0 10px;
}

.times {
  width: 89px;
  text-align: right;
  height: 730px;
  float: left;
}

/* Event styles */
.events {
  background-color: #ececec;
  border-left: solid 1px #d5d5d5;
  margin-top: 6px;
  width: 510px;
  height: 100%;
  float: left;
}

.schedule {
  margin: 0 10px;
  height: 100%;
  position: relative;
}

.event {
  border: solid 1px #d5d5d5;
  background: #fff;
  position: absolute;
  box-sizing: border-box;
}

.event:before {
  content: '';
  position: absolute;
  border-left: solid 5px #4b6ea9;
  width: 0;
  top: -1px;
  left: -1px;
  bottom: -1px;
}

.event span {
  padding: 2px 8px 0;
}

.event-title {
  color: #4b6ea9;
  display: block;
  margin: 0;
  font-weight: bold;
}

.hour {
  height: 60px;
  padding-right: 5px;
  line-height: 1;
  font-weight: bold;
}

.hour time {
  display: block;
}

.hour-half {
  margin-top: 22.5px;
  font-weight: normal;
}

/* Animations */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .75s;
  -moz-animation-duration: .75s;
  -ms-animation-duration: .75s;
  -o-animation-duration: .75s;
  animation-duration: .75s;
}

/*
 * ##FadeIn
 */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*
 * ##FadeinLeft
 */
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}


@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}


@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
